body{
    background: url("./imagens/fundo.jpg");
    background-size: 100%;
    
}

/* CSS início do cabeçalho*/

.caixa{
    width: 940px;
    margin: 0 auto ;
    text-align: center;

}
.logo-principal{
    width: 250px;
   
}

nav{
    text-align: center;

}

nav li{
    display: inline;
    font-size: 1.4em;
    padding-left: 5px;

   
}
li a{
    text-decoration:none;
    text-transform: uppercase;
    color: white;
    transition: 1.5s all;
}

li a:hover{
    color: #008000;
    
}
li:before {
    content: "★";
    color: #008000;
}

hr{
    margin: 1em 0 5em 0;
}
/* CSS fim do cabeçalho e início do conteúdo principal*/

/* CSS Futebol feminino visto como um espetáculo de circo*/ 

.tratamento-comedia{
    color: white;
    width: 940px;
    margin: 0 auto 3em;
}

.tratamento-comedia > h2{
    text-shadow: 1px 1px 1px white;
    font-size: 1.8em;
    margin: 0 0 1.1em 4em;
    color: #008000;
    text-transform: uppercase;
}
.tratamento-comedia > p{
    width: 50%;
    text-align: justify;
    display: inline-block;
    line-height: 1.4em;
    font-size: 1.2em;
    margin-left: 3.5em;
}

.tratamento-comedia>p:first-letter{
    font-size: 3em;
    color: #008000;

}
.circo {
    width: 35%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.2em;
    transition: 3s all;
    border: 3px solid rgba(70, 39, 14, 0.9);
}
.circo:hover{
    transform: scale(1.9);
    cursor: zoom-in;

}
/* CSS proibição do futebol feminino*/

.esporte-proibido{
    color: white;
    width: 940px;
    margin: 0 auto 3em; 
    position: relative;   

}

.esporte-proibido>h2{
    text-shadow: 1px 1px 1px white;
    font-size: 1.8em;
    margin: 0 0 1.1em 0;
    text-align: center;
    color: #008000;
    text-transform: uppercase;    


}
.jornal{
    width: 35%;
    margin: 0 32.5% ;
    display: inline-block;
    transition: 3s all;
    border: 3px solid rgba(70, 39, 14, 0.9);
}

.jornal:hover{
    transform: scale(2);
    cursor: zoom-in;

}

.esporte-proibido>p{
    display: inline-block;
    text-align: justify;
    line-height: 1.4em;
    font-size: 1.2em;
    margin: 2em;
  
}
.esporte-proibido>p:first-letter{
    font-size: 3em;
    color: #008000;

}

 p > em {
    font-weight: bold;

}

.arbitra{
    width: 35%;
    border: 3px solid rgba(70, 39, 14, 0.9);
    margin-left: 3.5em ;
    transition: 3s all;
}

.arbitra:hover{
    transform: scale(1.8);
    cursor: zoom-in;

}
.inform-lea{
    display: inline-block;
    vertical-align: top;
    margin: 0.4em 0 0 2.2em;
}
h3{
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 0.6em;
    
}

.esporte-proibido>ul{
    display: inline-block;
    margin-left:  2.2em;
    width: 45%;
    
}
.esporte-proibido ul>li{
    line-height: 1.4em;
    font-size: 1.2em;
   
}

.esporte-proibido li:before {
    content: "★";
}
    
/* CSS fim da poribição e início da regulamentação*/

.regulamentação{
    color: white;
    width: 940px;
    margin: 0 auto 3em; 

}


.regulamentação>h2{
    text-shadow: 1px 1px 1px white;
    font-size: 1.8em;
    margin: 0 0 1.1em 0;
    text-align: center;
    color: #008000;
    text-transform: uppercase;    

}

.regulamentação>p{
    margin: 2em;
    text-align: justify;
    line-height: 1.4em;
    font-size: 1.2em;
}
.regulamentação>p:first-letter{
    font-size: 3em;
    color: #008000;
}


.primeiro-torneio{
    width: 35%;
    margin-left: 3.5em;
    margin-bottom: 2em;
    transition: 3s all;
    border: 3px solid rgba(70, 39, 14, 0.9);
}

.primeiro-torneio:hover{
    transform: scale(1.8);
    cursor: zoom-in;


}

.torneio>p{
    display: inline-block;
    width: 50%;
    margin-left: 1.2em;
    text-align: justify;
    display: inline-block;
    vertical-align: top;
    line-height: 1.4em;
    font-size: 1.2em;
}

.torneio>p::after{
    content: "⚽";
}
.torneio>p:before{
    content:"⚽";
}
/* CSS Sequência de campeonatos*/

.recorrencia{
    color: white;
    width: 940px;
    margin: 0 auto 3em;

}

.recorrencia>h2{
    text-shadow: 1px 1px 1px white;
    font-size: 1.8em;
    margin-bottom: 1.1em;
    text-align: center;
    color: #008000;
    text-transform: uppercase;    

}

/* CSS Primeira copa FIFA*/

.primeira-copa{
    margin-bottom: 1.1em;
}

.primeira-copa>h3{
    font-size: 1.3em;
    color: #b3b0b0;
    text-transform: uppercase; 
    text-shadow: 1px 1px 1px white;
    margin-bottom: 1.3em;
}

.primeira-copa>h3:before{
    content:"✱";
    color: white;
    opacity: 0.5;
    
}

.primeira-copa>p{
    width: 50%;
    display: inline-block;
    margin-left: 3.5em;
    line-height: 1.4em;
    font-size: 1.2em;
    text-align: justify;

}
.primeira-copa>img{
    width: 35%;
    vertical-align: top;
    margin-left: 1.2em;
    border: 3px solid rgba(70, 39, 14, 0.9);
    transition: 3s all;
}

.primeira-copa>img:hover{
    transform: scale(1.8);
    cursor: zoom-in;

}

/* CSS Primera olimpíada*/

.primeira-olimpiada{
    margin-bottom: 1.1em;
}

.primeira-olimpiada>h3{
    font-size: 1.3em;
    color: #b3b0b0;
    text-transform: uppercase; 
    text-shadow: 1px 1px 1px white;
    margin-bottom: 1.3em;
}

.primeira-olimpiada>h3:before{
    content:"✱";
    color: white;
    opacity: 0.5;
    
}

.primeira-olimpiada>p{
    width: 50%;
    display: inline-block;
    margin-left: 3.5em;
    line-height: 1.4em;
    font-size: 1.2em;
    text-align: justify;

}
.primeira-olimpiada>img{
    width: 35%;
    vertical-align: top;
    margin-left: 1.2em;
    border: 3px solid rgba(70, 39, 14, 0.9);
    transition: 3s all;
}

.primeira-olimpiada>img:hover{
    transform: scale(1.8);
    cursor: zoom-in;

}

/* CSS Primeira medalha*/

.primeira-medalha{
    margin-bottom: 1.1em;
}

.primeira-medalha>h3{
    font-size: 1.3em;
    color: #b3b0b0;
    text-transform: uppercase; 
    text-shadow: 1px 1px 1px white;
    margin-bottom: 1.3em;
}

.primeira-medalha>h3:before{
    content:"✱";
    color: white;
    opacity: 0.5;
    
}

.primeira-medalha>p{
    width: 50%;
    display: inline-block;
    margin-left: 3.5em;
    line-height: 1.4em;
    font-size: 1.2em;
    text-align: justify;

}
.primeira-medalha>img{
    width: 35%;
    vertical-align: top;
    margin-left: 1.2em;
    border: 3px solid rgba(70, 39, 14, 0.9);
    transition: 3s all;
}

.primeira-medalha>img:hover{
    transform: scale(1.8);
    cursor: zoom-in;
}

/* Fim do CSS conteúdo principal da primeira Página*/

/*início do CSS footer*/


footer>h4{
    margin: 1em 0  0.4em;
    color: white;
    font-size: 2em;
    text-align: center;
}

h4>em{
    display:block;
    
}
h4>em:first-letter{
    font-size: 1.4em;
    color: #008000;
    text-shadow: 1px 1px 1px white;
}

.icone-rodape{
    text-align: center;
    
}
a > img {
    padding-left: 5px;
    width: 2.5em;
    transition: 3s all;
    padding-bottom: 1em;
}

a>img:hover{
    transform: scale(2) rotate(10deg) ;
}

/*Fim do CSS footer*/

/* Início do conteúdo principal da 2° página*/

.principal-destaque{
    
    margin: 0 auto;
    width: 940px;
}
.pretinha>h2{
    font-size: 1.8em;
    padding-top: 1.1em;
    color: white;
    text-align: center;
}

.pretinha>h2:after{
    content: "✱";
}
.pretinha>h2:before{
    content:"✱";
}

.pretinha>img{
    width: 40%;
    margin: 1.1em ;
    border: 3px solid rgba(70, 39, 14,1);
}
.pretinha>p{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 1.1em;
    text-align: justify;
    line-height: 1.2em;
    font-size: 1.1em;
    color: white;
}

/*Fim do CSS de DEMA*/

/*Início do CSS da SISSI*/


.sissi>h2{
    font-size: 1.8em;
    padding-top: 1.1em;
    color: white;
    text-align: center;
}

.sissi>h2:after{
    content: "✱";
}
.sissi>h2:before{
    content:"✱";
}

.sissi>img{
    width: 40%;
    margin: 1.1em ;
    border: 3px solid rgba(70, 39, 14,1);
}
.sissi>p{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 1.1em;
    text-align: justify;
    line-height: 1.2em;
    font-size: 1.1em;
    color: white;
}

/*Fim CSS SISSI*/

/*Início CSS MARTA*/

.marta{
    padding-bottom: 1em;
}

.marta>h2{
    font-size: 1.8em;
    padding-top: 1.1em;
    color: white;
    text-align: center;
    
}

.marta>h2:after{
    content: "✱";
}
.marta>h2:before{
    content:"✱";
}

.marta>img{
    width: 40%;
    margin: 1.1em ;
    border: 3px solid rgba(70, 39, 14,1);
}
.marta>p{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 1.1em;
    text-align: justify;
    line-height: 1.2em;
    font-size: 1.1em;
    color: white;
}
/* Fim do CSS MARTA*/

/* CSS Escalação*/
.atualidade{
    text-align: center;
}
.atualidade h3{
    margin: 1em 0;
    font-size: 1.2em;
    color: #b3b0b0;
    text-transform: uppercase; 
    text-shadow: 1px 1px 1px white;
    

}
.atualidade>img{
    border: 3px solid rgba(70, 39, 14,1);
    width: 40%;
    
}

@media screen and (max-width:480px) {
    /*Responsividade da Home*/
    .caixa, .tratamento-comedia, .esporte-proibido, .regulamentação, .recorrencia {
        width: auto;
        text-align: center;
    }
   .tratamento-comedia>h2, .esporte-proibido>h2, .regulamentação>h2, .recorrencia>h2{
       margin: 0;
   }
   .tratamento-comedia>img, .esporte-proibido>img{
       margin: 1em auto 0;
   }

   .tratamento-comedia>p, .recorrencia>p{
        margin: 1em 0 0;
        width: 75%;
   }
   .inform-lea{
       margin: 1em auto 0;
   }
   .esporte-proibido>p, .regulamentação>p{
       width: 90%;
       
       margin: 1em auto 0;
   }
   .torneio>img{
       margin: 2em auto 0;
   }
   .primeira-copa>h3{
       margin: 1em auto ;
   }
   .torneio>p, .primeira-copa>p, .primeira-olimpiada>p, .primeira-medalha>p {
       margin: 0;
       width: 70%;
   }
   .primeira-copa>img, .primeira-olimpiada>img, .primeira-medalha>img{
       margin: 1em auto 0;
   }
   /*Fim da responsividade da Home*/
   
   .principal-destaque{
       width: auto;

   }
   .pretinha,.sissi,.marta{
       text-align: center;
   }
   .pretinha>h2, .sissi>h2, .marta>h2{
       margin: 0 auto;
       padding: 0.5em 0 0;
    }
    .pretinha>img, .sissi>img, .marta>img{
        margin: 1em auto 0;
    }
    .pretinha>p, .sissi>p, .marta>p{
        width: 90%;
        margin: 1em 0 0;

    }

}